<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Indicate character enconding for the file -->
    <meta charset="UTF-8">

    <!-- Indicate that the view will automatically adjust to devide settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon that appears at the browser tab -->
    <link rel="icon" href="../icons/southafrica.ico">
    
    <!-- Indicate style coming from a css file -->
    <link rel="stylesheet" type="text/css" href="../css/cities_views.css">

    <!-- Title that will be displayed at the browser -->
    <title>Cape Town (South Africa)</title>
    
</head>
<body>

    <!-- Table containing country flag and city name/country -->
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="../flags/southafrica.png" alt="South African Flag" title="South Africa" width="50" height="50">
                    </td>
                    <td>
                        <h1>Cape Town, Western Cape, South Africa</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Print horizontal line -->
    <hr>

    <!-- Table containing text and image -->
    <div class="city-description-table">
        <table>
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <!-- Brief description of the city -->
                        <p>
                            Wikipedia: <br><br>
                            <em>
                                "Cape Town is the second-most populous city in South Africa, after 
                            Johannesburg, and also the legislative capital of South Africa. 
                            Colloquially named the Mother City, it is the largest city of the 
                            Western Cape province and forms part of the City of Cape Town 
                            metropolitan municipality. The Parliament of South Africa is situated in
                            Cape Town. The other two capitals are located in Gauteng (Pretoria the 
                            executive capital where the Presidency is based) and in the Free State 
                            (Bloemfontein the judicial capital where the Supreme Court of Appeal is 
                            located). The city is known for its harbour, for its natural setting in 
                            the Cape Floristic Region, and for landmarks such as Table Mountain and 
                            Cape Point. Cape Town is home to 64% of the Western Cape's population. 
                            The city was named the World Design Capital for 2014 by the 
                            International Council of Societies of Industrial Design."
                            </em>
                        </p>
                    </td>
                    <td style="width: 70%;">
                        <!-- Image of the city -->
                        <img src="../imgs/capetown.jpg" alt="Cape Town" title="Cape Town" width="650" height="400">
                    </td>
                </tr>    
            </tbody>
        </table>    
    </div>

    <!-- Link to return to index -->
    <a href="../index.html">Return Home</a>

</body>
</html>