<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Indicate character enconding for the file -->
    <meta charset="UTF-8">

    <!-- Indicate that the view will automatically adjust to devide settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon that appears at the browser tab -->
    <link rel="icon" href="../icons/denmark.ico">
    
    <!-- Indicate style coming from a css file -->
    <link rel="stylesheet" type="text/css" href="view_style.css">

    <!-- Title that will be displayed at the browser -->
    <title>Copenhagen (Denmark)</title>
    
</head>
<body>

    <!-- Table containing country flag and city name/country -->
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="../flags/denmark.png" alt="Danish Flag" title="Denmark" width="50" height="50">
                    </td>
                    <td>
                        <h1>Copenhagen, Denmark</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Print horizontal line -->
    <hr>

    <!-- Table containing text and image -->
    <div class="city-description-table">
        <table>
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <!-- Brief description of the city -->
                        <p>
                            Wikipedia: <br><br>
                            <em>
                                "Copenhagen is the capital and most populous city of Denmark. As of 1 
                                January 2020, the city had a population of 794,128 with 632,340 in 
                                Copenhagen Municipality, 104,305 in Frederiksberg Municipality, 42,989 
                                in Tårnby Municipality, and 14,494 in Dragør Municipality. It forms the 
                                core of the wider urban area of Copenhagen (population 1,330,993) and 
                                the Copenhagen metropolitan area (population 2,057,142). Copenhagen is 
                                situated on the eastern coast of the island of Zealand; another portion 
                                of the city is located on Amager, and it is separated from Malmö, 
                                Sweden, by the strait of Øresund. The Øresund Bridge connects the two 
                                cities by rail and road."
                            </em>
                        </p>
                    </td>
                    <td style="width: 70%;">
                        <!-- Image of the city -->
                        <img src="../imgs/copenhagen.jpg" alt="Copenhagen" title="Copenhagen" width="650" height="400">
                    </td>
                </tr>    
            </tbody>
        </table>    
    </div>

    <!-- Link to return to index -->
    <a href="../index.html">Return Home</a>

</body>
</html>