<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Indicate character enconding for the file -->
    <meta charset="UTF-8">

    <!-- Indicate that the view will automatically adjust to devide settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon that appears at the browser tab -->
    <link rel="icon" href="../icons/finland.ico">
    
    <!-- Indicate style coming from a css file -->
    <link rel="stylesheet" type="text/css" href="view_style.css">

    <!-- Title that will be displayed at the browser -->
    <title>Helsinki (Finland)</title>
    
</head>
<body>

    <!-- Table containing country flag and city name/country -->
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="../flags/finland.png" alt="Finnish Flag" title="Finland" width="50" height="50">
                    </td>
                    <td>
                        <h1>Helsinki, Finland</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Print horizontal line -->
    <hr>

    <!-- Table containing text and image -->
    <div class="city-description-table">
        <table>
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <!-- Brief description of the city -->
                        <p>
                            Wikipedia: <br><br>
                            <em>
                                "Helsinki is the capital, primate and most populous city of Finland. 
                                Located on the shore of the Gulf of Finland, it is the seat of the 
                                region of Uusimaa in southern Finland, and has a population of 656,229. 
                                The city's urban area has a population of 1,268,296,making it by far the
                                most populous urban area in Finland as well as the country's most 
                                important center for politics, education, finance, culture, and 
                                research; while Tampere in the Pirkanmaa region, located 179 kilometres
                                (111 mi) to the north from Helsinki, is the second largest urban area 
                                in Finland. Helsinki is located 80 kilometres (50 mi) north of 
                                Tallinn, Estonia, 400 km (250 mi) east of Stockholm, Sweden, and 300 
                                km (190 mi) west of Saint Petersburg, Russia. It has close historical 
                                ties with these three cities."
                            </em>
                        </p>
                    </td>
                    <td style="width: 70%;">
                        <!-- Image of the city -->
                        <img src="../imgs/helsinki.jpg" alt="Helsinki" title="Helsinki" width="650" height="400">
                    </td>
                </tr>    
            </tbody>
        </table>    
    </div>

    <!-- Link to return to index -->
    <a href="../index.html">Return Home</a>

</body>
</html>