<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Indicate character enconding for the file -->
        <meta charset="UTF-8">
    
        <!-- Indicate that the view will automatically adjust to devide settings -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- Icon that appears at the browser tab -->
        <link rel="icon" href="../icons/money.ico">
        
        <!-- Indicate style coming from a css file -->
        <link rel="stylesheet" type="text/css" href="../css/quotations.css">
    
        <!-- Title that will be displayed at the browser -->
        <title>Quotations</title>
        
    </head>
<body>

    <!-- Quotations Page Header -->
    <header>
        <p>Quotations</p>
    </header>

    <!-- Quotations Table -->
    <table id="quotations">
        <!-- Table caption (Title) -->
        <caption>
            <p>Quotation for some of the <strong>Must-Have Items!</strong></p>
        </caption>
        <!-- Quotations table header -->
        <thead id="quotations-header">
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Price</th>
                <th>Vendor</th>
            </tr>
        </thead>
        <!-- Items to appear at the quotations table -->
        <tbody id="quotations-body">

            <!-- (Begin) Travel BackPacks -->
            <tr>
                <td rowspan="3">Travel Back-pack</td>
                <td><a href="https://www.amazon.com/Peak-Design-Travel-Line-Backpack/dp/B07GH4HMFR/ref=sxin_10?ascsubtag=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&creativeASIN=B07GH4HMFR&crid=1TBEC2SXJQKDT&cv_ct_cx=travel+backpack&cv_ct_id=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_we=asin&cv_ct_wn=osp-single-source-gl-ranking&dchild=1&keywords=travel+backpack&linkCode=oas&pd_rd_i=B07GH4HMFR&pd_rd_r=43266c85-fd1e-41cf-b7c2-dcb3a6099383&pd_rd_w=EUkH3&pd_rd_wg=aSibQ&pf_rd_p=5ca5891e-f8d5-441d-985e-3d725696ef70&pf_rd_r=2VP6NYSPJ38AY4S088DY&qid=1607348339&sprefix=travel+back%2Caps%2C322&sr=1-1-d9dc7690-f7e1-44eb-ad06-aebbef559a37&tag=ogl02-20">Peak Design Travel Line Backpack 45L (Sage)</a></td>
                <td>USD 299.95</td>
                <td>Peak Design</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Osprey-Packs-Porter-Travel-Backpack/dp/B06VVJZHB9/ref=sxin_10?ascsubtag=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&creativeASIN=B06VVJZHB9&crid=1TBEC2SXJQKDT&cv_ct_cx=travel+backpack&cv_ct_id=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_we=asin&cv_ct_wn=osp-single-source-gl-ranking&dchild=1&keywords=travel+backpack&linkCode=oas&pd_rd_i=B06VVJZHB9&pd_rd_r=43266c85-fd1e-41cf-b7c2-dcb3a6099383&pd_rd_w=EUkH3&pd_rd_wg=aSibQ&pf_rd_p=5ca5891e-f8d5-441d-985e-3d725696ef70&pf_rd_r=2VP6NYSPJ38AY4S088DY&qid=1607348339&sprefix=travel+back%2Caps%2C322&sr=1-2-d9dc7690-f7e1-44eb-ad06-aebbef559a37&tag=ogl02-20">Osprey Porter 46</a></td>
                <td>USD 104.94</td>
                <td>Osprey</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Cotopaxi-Allpa-35L-Travel-Pack/dp/B07HT2LLGK/ref=sxin_10?ascsubtag=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&creativeASIN=B07HT2LLGK&crid=1TBEC2SXJQKDT&cv_ct_cx=travel+backpack&cv_ct_id=amzn1.osa.0c0f4c1a-be19-4e77-9472-540202d8b377.ATVPDKIKX0DER.en_US&cv_ct_pg=search&cv_ct_we=asin&cv_ct_wn=osp-single-source-gl-ranking&dchild=1&keywords=travel+backpack&linkCode=oas&pd_rd_i=B07HT2LLGK&pd_rd_r=43266c85-fd1e-41cf-b7c2-dcb3a6099383&pd_rd_w=EUkH3&pd_rd_wg=aSibQ&pf_rd_p=5ca5891e-f8d5-441d-985e-3d725696ef70&pf_rd_r=2VP6NYSPJ38AY4S088DY&qid=1607348339&sprefix=travel+back%2Caps%2C322&sr=1-3-d9dc7690-f7e1-44eb-ad06-aebbef559a37&tag=ogl02-20">Cotopaxi Allpa</a></td>
                <td>USD 174.56</td>
                <td>Cotopaxi</td>
            </tr>
            <!-- (End) Travel BackPacks -->
            
            <!-- (Begin) Cameras -->
            <tr>
                <td rowspan="3">Light Weight (Compact) Camera</td>
                <td><a href="https://www.amazon.com/Canon-Mirrorless-Camera-15-45mm-3-5-6-3/dp/B07WDLY364/ref=sr_1_19?dchild=1&keywords=lightweight+%28compact%29+camera&qid=1607349182&rnid=172282&s=electronics&sr=1-19">Canon EOS M6 Mark II Mirrorless</a></td>
                <td>USD 1,099.00</td>
                <td>Canon</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Sony-Alpha-a6400-Mirrorless-Camera/dp/B07MV3P74D/ref=sr_1_18?dchild=1&keywords=lightweight+%28compact%29+camera&qid=1607349182&rnid=172282&s=electronics&sr=1-18">Sony Alpha a6400 Mirrorless</a></td>
                <td>USD 1,298.00</td>
                <td>Sony</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Digital-Compact-Camera-Touch-Screen/dp/B07NSMJX2K/ref=sr_1_7?dchild=1&keywords=lightweight+%28compact%29+camera&qid=1607349182&rnid=172282&s=electronics&sr=1-7">Ricoh GR III</a></td>
                <td>USD 896.95</td>
                <td>Ricoh</td>
            </tr>
            <!-- (End) Cameras -->
            
            <!-- (Begin) Walking Shoes -->
            <tr>
                <td rowspan="3">Comfortable Walking/Waterproof Shoes</td>
                <td><a href="https://www.amazon.com/Columbia-Crestwood-Waterproof-Hiking-Squash/dp/B0787LNR7S/ref=sr_1_5?dchild=1&keywords=walking+shoes&qid=1607349630&s=sporting-goods&sr=1-5">Crestwood Waterproof Hiking</a></td>
                <td>USD 159.60</td>
                <td>Columbia</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Merrell-Mens-Waterproof-Hiking-Beluga/dp/B01HFA6A10/ref=sr_1_3?dchild=1&keywords=walking+shoes+waterproof&qid=1607349661&s=sporting-goods&sr=1-3">Moab 2 Waterproof Hiking</a></td>
                <td>USD 242.94</td>
                <td>Merrell</td>
            </tr>
            <tr>
                <td><a href="https://www.amazon.com/Wantdo-Waterproof-Outdoor-Trekking-Backpacking/dp/B07P69VCRF/ref=sr_1_5?dchild=1&keywords=walking+shoes+waterproof&qid=1607349661&s=sporting-goods&sr=1-5">Wantdo Outdoor Mountaineering</a></td>
                <td>USD 62.99</td>
                <td>Wantdo</td>
            </tr>
            <!-- (end) Walking Shoes -->

        </tbody>
    </table>

    <!-- Link to return to index -->
    <a href="../index.html">Return Home</a>

    <!-- Quotations Page Footer -->
    <footer>
        <p>Marcus M. Boeno &copy; 2020</p>
    </footer>

    <!-- Link to JS script -->
    <script src="../js/quotation_table.js"></script>
    
</body>
</html>