<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Indicate character enconding for the file -->
    <meta charset="UTF-8">

    <!-- Indicate that the view will automatically adjust to devide settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon that appears at the browser tab -->
    <link rel="icon" href="../icons/sweden.ico">
    
    <!-- Indicate style coming from a css file -->
    <link rel="stylesheet" type="text/css" href="view_style.css">

    <!-- Title that will be displayed at the browser -->
    <title>Stockholm (Sweden)</title>
    
</head>
<body>

    <!-- Table containing country flag and city name/country -->
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="../flags/sweden.png" alt="Swedish Flag" title="Sweden" width="50" height="50">
                    </td>
                    <td>
                        <h1>Stockholm, Sweden</h1>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <!-- Print horizontal line -->
    <hr>

    <!-- Table containing text and image -->
    <div class="city-description-table">
        <table>
            <tbody>
                <tr>
                    <td style="width: 30%;">
                        <!-- Brief description of the city -->
                        <p>
                            Wikipedia: <br><br>
                            <em>
                                "Stockholm is the capital and most populous urban area of Sweden as 
                                well as in Scandinavia. 1 million people live in the municipality, 
                                approximately 1.6 million in the urban area, and 2.4 million in the 
                                metropolitan area. The city stretches across fourteen islands where 
                                Lake Mälaren flows into the Baltic Sea. Outside the city to the east, 
                                and along the coast, is the island chain of the Stockholm archipelago. 
                                The area has been settled since the Stone Age, in the 6th millennium BC, 
                                and was founded as a city in 1252 by Swedish statesman Birger Jarl. 
                                It is also the county seat of Stockholm County."
                            </em>
                        </p>
                    </td>
                    <td style="width: 70%;">
                        <!-- Image of the city -->
                        <img src="../imgs/stockholm.jpg" alt="Stockholm" title="Stockholm" width="650" height="400">
                    </td>
                </tr>    
            </tbody>
        </table>    
    </div>

    <!-- Link to return to index -->
    <a href="../index.html">Return Home</a>

</body>
</html>