/* ---------- GLOBAL CONFIG ----------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ------------------------------------------------------------------ */


/* ---------- PRIMEIRA DIV ------------------------------------------ */
.cabecalho {
    /* Format Config */
    overflow: hidden;
    /* Font and Color Config */
    background-color: #003366;
    width: 100%;
}

.cabecalho .conteudo {
    /* FlexBox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    /* Content format */
    width: 90%;
    margin: 0 auto;
}

.cabecalho .item {
    /* Color Config */
    color: white;
    /* Font Config */
    font-size: 20px;
}

.cabecalho .botoes {
    /* FlexBox Config */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* Font and Color Config */
    color: white;
}

.cabecalho .botoes .whatsapp {
    /* Content format */
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    /* Font and Color Config */
    background-color: #2ba531;
    font-weight: bold;
}

.cabecalho .botoes .atendimento-online {
    /* Content format */
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    /* Font and  Color Config */
    background-color: #00b29c;
    font-weight: bold;
}
/* ------------------------------------------------------------------ */

/* ---------- SEGUNDA DIV ------------------------------------------- */
.menu-principal {
    /* Sticky Menu Config */
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 99;
    /* overflow: hidden; */
    /* FlexBox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    /* Format Config */
    width: 100%;
}

.menu-principal .logo {
    /* Content format */
    padding: 20px;
    width: 30%;
    height: auto;
}

.menu-principal .menu-items {
    /* Content format */
    width: 70%;
}

.menu-principal .menu-items ul {
    /* FlexBox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* Content format */
    list-style: none;
}

.menu-principal .menu-items ul a {
    color: black;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.menu-principal .menu-items ul a:hover {
    /* Font and Color Config */
    color: white;
    background-color: #003366;
}
/* ------------------------------------------------------------------ */

/* ---------- TERCEIRA DIV ------------------------------------------ */
#cover-image {
    overflow: hidden;
    width: 100%;
    height: auto;
}
/* ------------------------------------------------------------------ */

/* ---------- QUARTA DIV -------------------------------------------- */
.bem-vindo {
    /* FlexBox Config */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.bem-vindo .card-boas-vindas {
    /* FlexBox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

/* .bem-vindo .titulo {
    background-color: rgb(102, 255, 71);
} */

.bem-vindo .texto {
    /* Content format */
    padding-top: 10px;
    padding-bottom: 10px;
}

.bem-vindo .saiba-mais {
    /* Content format */
    width: 40%;
    /* Color Config */
    color: ivory;
    background-color: rgb(126, 6, 6);
}

/* .bem-vindo .img {
    background-color: tomato;
} */
/* ------------------------------------------------------------------ */

/* ---------- QUINTA DIV -------------------------------------------- */
.cards-servicos {
    /* FlexBox Config */
    display: flex;
    flex-direction: row;
    /* Content format */
    padding-top: 30px;
    padding-bottom: 30px;
    /* Color Config */
    background-color: #003366;

}

.cards-servicos .card {
    /* FlexBox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Color Config */
    color: white;
}

.cards-servicos .card .titulo-servico {
    /* Content format */
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards-servicos .card .descricao-servico {
    /* Content format */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 60%;
}
.cards-servicos .card .servico-saiba-mais {
    /* Content format */
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    /* Color Config */
    color: ivory;
    background-color: rgb(126, 6, 6);
}
/* ------------------------------------------------------------------ */

/* ---------- SEXTA DIV --------------------------------------------- */
.fale-conosco-outter {
    /* FlexBox Config */
    display: flex;
    justify-content: center;
    /* Color Config */
    background-color: white;
    /* Content format */
    padding-top: 30px;
    padding-bottom: 30px;
}

.fale-conosco-outter .fale-conosco-inner {
    /* FlexBox Config */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fale-conosco-outter .fale-conosco-inner .titulo {
    /* Content format */
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(131, 11, 11);
}

.fale-conosco-outter .fale-conosco-inner .formulario {
    /* FlexBox Config */
    display: flex;
    flex-direction: row;
}

.fale-conosco-outter .fale-conosco-inner .formulario .nome-email-telefone {
    /* FlexBox Config */
    display: flex;
    flex-direction: column;
    
}
/* ------------------------------------------------------------------ */

/* ---- OITAVA DIV PRIMEIRO RODAPÉ ---------------------------------- */
.rodape-primeiro {
    /* Format Config */
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    /* Font and Color Config */
    background-color: #003366;
}

.rodape-primeiro .rodape-conteudo {
    /* FlexBox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    /* Content format */
    width: 90%;
    margin: 0 auto;
    /* Font and Color Config */
    color: white;
}

.rodape-primeiro .rodape-conteudo .rodape-contatos {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    align-items: center;

}

.rodape-primeiro .rodape-conteudo .rodape-botoes {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.rodape-primeiro .rodape-conteudo .rodape-botoes .whatsapp {
    /* Content format */
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    /* Font and Color Config */
    background-color: #2ba531;
    font-weight: bold;
}

.rodape-primeiro .rodape-conteudo .rodape-botoes .atendimento-online {
    /* Content format */
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    /* Font and  Color Config */
    background-color: #00b29c;
    font-weight: bold;
}
/* ------------------------------------------------------------------ */

/* ---- NONA DIV SEGUNDO RODAPÉ ------------------------------------- */

.rodape-segundo {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Format Config */
    overflow: hidden;
    width: 100%;
    height: 60px;
    /* Font and Color Config */
    background-color: #003366;
}
/* ------------------------------------------------------------------ */