/* ---- GLOBAL CONFIG ------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* -------------------------------------------------------------------------- */

/* ---- HEADER AND FOOTER CONFIG -------------------------------------------- */
header {
    /* Format Config */
    overflow: hidden;
    padding-bottom: 0;
}

header img {
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

header h1 {
    /* Format Config */
    position: absolute;
    left: 10px;
    top: 200px;
    /* Font and Color Config */
    color: white;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    /* Font and Color Config */
    background-color: #2C7DA0;
    color: white;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------------------------------------------- */

/* ---- MENU CONFIG --------------------------------------------------------- */
.sticky-menu-div {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Sticky Menu Config */
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 99;
    /* Color and Font Config */
    background-color: black;
}

.sticky-menu-div .menu-list {
    /* Flexbox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.sticky-menu-div .menu-list {
    /* Format Config */
    list-style-type: none;
}

.sticky-menu-div .menu-list a {
    /* Format Config */
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    /* Font and Color Config */
    color: white;
}

.sticky-menu-div .menu-list a:hover {
    /* Font and Color Config */
    background-color: #ddd;
    color: black;
}
/* -------------------------------------------------------------------------- */

/* ---- POST DIV CONFIG ----------------------------------------------------- */
.page-content {
    /* Flexbox config */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* Format Config */
    margin-left: 2%;
    margin-right: 2%;
}

.post {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* Format Config */
    padding-top: 40px;
}

.post h1 {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: normal;
}

.post .post-author-date {
    /* Format Config */
    padding-bottom: 20px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
}
/* -------------------------------------------------------------------------- */

/* ---- ABOUT ME POST CONFIG ------------------------------------------------ */
.post .about-me {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about-me-content {
    /* Format Config */
    padding-top: 20px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------------------------------------------- */

/* ---- TOP FIVE CITIES POST CONFIG ----------------------------------------- */
.post .city-card-list {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
}

.post .city-card-list .city-card {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Format Config */
    padding: 10px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #2C7DA0;
    border-radius: 15px;
}

.post .city-card-list .city-card .city-flag-name {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* .post .city-card-list .city-card .city-flag-name #flag {
    
} */

.post .city-card-list .city-card .city-flag-name #city-name {
    /* Format Config */
    padding-left: 10px;
}

#top-cities-content {
    /* Format Config */
    padding-bottom: 20px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------------------------------------------- */

/* ---- MUST HAVE ITEMS POST CONFIG ----------------------------------------- */

.post #must-have-items {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#must-have-subtitle {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: normal;
    padding-bottom: 20px;
}

.post #must-have-text-content {
    /* Format Config */
    padding-bottom: 20px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* -------------------------------------------------------------------------- */