/* ---- GLOBAL CONFIG ------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    /* Format Config */
    overflow: hidden;
    height: 300px;
}

header img {
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

header h1 {
    /* Format Config */
    position: absolute;
    left: 10px;
    top: 200px;
    /* Font and Color Config */
    color: white;
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* Format Config */
    height: 50px;
    /* Font and Color Config */
    background-color: #2C7DA0;
    color: white;
    font-size: 15pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* -------------------------------------------------------------------------- */

/* ---- MENU CONFIG --------------------------------------------------------- */
.sticky-menu-div {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Sticky Menu Config */
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 99;
    /* Format Config */
    margin-bottom: 10px;
    /* Color and Font Config */
    background-color: black;
}

.sticky-menu-div .menu-list {
    /* Flexbox Config */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.sticky-menu-div .menu-list {
    /* Format Config */
    list-style-type: none;
}

.sticky-menu-div .menu-list a {
    /* Format Config */
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    /* Font and Color Config */
    color: white;
}

.sticky-menu-div .menu-list a:hover {
    /* Font and Color Config */
    background-color: #ddd;
    color: black;
}
/* -------------------------------------------------------------------------- */

/* ---- POST DIV CONFIG ----------------------------------------------------- */
.page-content {
    /* Flexbox config */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Format Config */
    width: 100%;
}

.article {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* Format Config */
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article .article-header {
    /* Format Config */
    margin-bottom: 20px;
}

.article .article-title {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: normal;
}

.article .article-subtitle {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    font-weight: normal;
    margin-bottom: 10px;
}

.article .article-author-date {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    font-style: italic;
}

.article .article-text {
    /* Format Config */
    text-align: justify;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.article .article-image-full {
    width: 100%;
    height: auto;
}

.article .article-footer {
    /* Format Config */
    width:100%;
    text-align:left;
    margin-left:0;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* -------------------------------------------------------------------------- */

/* ---- TOP FIVE CITIES POST CONFIG ----------------------------------------- */
.article .city-card-list {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
}

.article .city-card-list .city-card {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* Format Config */
    padding: 10px;
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #2C7DA0;
    border-radius: 15px;
}

.article .city-card-list .city-card .city-flag-name {
    /* Flexbox Config */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* .post .city-card-list .city-card .city-flag-name #flag {
    
} */

.article .city-card-list .city-card .city-flag-name #city-name {
    /* Format Config */
    padding-left: 10px;
}
/* -------------------------------------------------------------------------- */

/* ---- MUST HAVE ITEMS POST CONFIG ----------------------------------------- */

.article #must-have-items {
    /* Flexbox Config */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#must-have-subtitle {
    /* Font and Color Config */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20pt;
    font-weight: normal;
    padding-bottom: 20px;
}
/* -------------------------------------------------------------------------- */

/* ---- TABLE CONFIG -------------------------------------------------------- */
table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #2C7DA0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 
        0px 10px 20px rgba(0, 0, 0, 0.05), 
        0px 20px 20px rgba(0, 0, 0, 0.05), 
        0px 30px 20px rgba(0, 0, 0, 0.05);
}

/* Apply background highlight when the user hovers the pointer on a field */
table tr:hover {
    background: #f4f4f4;
}

/* Apply text highlight when the user hovers the pointer on a field */
table tr:hover td {
    color: black;
}

/* Cell-data and border colors/padding */
table th, table td {
    color: #999;
    border: 1px solid #999;
    padding: 12px 35px;
    border-collapse: collapse;
}

/* Style for table header contents */
table th {
    background: #2C7DA0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

/* Get last element of the header and withdraw any borders */
table th.last {
    border-right: none;
}
/* -------------------------------------------------------------------------- */