
/* Resetting table default configs */
table {
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

/* Resetting table header and data element default configs */
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
  }

/* Apply "Zebra" stripping to every odd-numbered row of the table */
/* tbody tr:nth-child(odd) {
    background: rgb(188, 210, 252);
} */

#quotations {
    margin-bottom: 20px;
}

/* Class to handle page headers */
header {
    width: 100%;
    height: 100px; 
    line-height: 100px;
    background-color: #2C7DA0;
    border-radius: 15px;
    text-align: center;
    background-size: 100% 100%;
    justify-content: center;
    margin-bottom: 20px;
    font-style: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    color: white;
}

/* Class to handle page footers */
footer {
    width: 100%;
    height: 50px; 
    line-height: 50px;
    background-color: #2C7DA0;
    border-radius: 15px;
    text-align: center;
    background-size: 100% 100%;
    justify-content: center;
    color: white;
}


/* -------------------------------------------------------------- */


table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #2C7DA0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 
        0px 10px 20px rgba(0, 0, 0, 0.05), 
        0px 20px 20px rgba(0, 0, 0, 0.05), 
        0px 30px 20px rgba(0, 0, 0, 0.05);
}

/* Apply background highlight when the user hovers the pointer on a field */
table tr:hover {
    background: #f4f4f4;
}

/* Apply text highlight when the user hovers the pointer on a field */
table tr:hover td {
    color: black;
}

/* Cell-data and border colors/padding */
table th, table td {
    color: #999;
    border: 1px solid #999;
    padding: 12px 35px;
    border-collapse: collapse;
}

/* Style for table header contents */
table th {
    background: #2C7DA0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

/* Get last element of the header and withdraw any borders */
table th.last {
    border-right: none;
}